{% extends "base.html" %}

{% block main %}
    <div class="cart">
      {% if list %}
        <ul>
          {% for item in list %}
              <li>
                <h3>{{ item }}</h3>
                <button type="button"
                onclick="window.location.href='{{ url_for('remove_from_cart', userid=current_user.acc_num, itemid=item.item_id) }}'"
                name="remove">Remove</button>
                <button type="button"
                onclick="window.location.href='{{ url_for('product', itemid=item.item_id) }}'"
                name="view-item">View Item</button>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      <!-- <button type="button"
      onclick="window.location.href='{{ url_for('make_order', userid=current_user.acc_num) }}'"
      name="button">Checkout</button> -->
    </div>

{% endblock %}
