{% extends "base.html" %}

  {% block main %}
    <div class="single-product">
        <div class="product">
          <h3>{{item}}</h3>
          <button type="button" class="cart-add"
          onclick="window.location.href='{{ url_for('add_item_cart', itemid=item.item_id, qty=1, cartid=session['cartid']) }}'"
          name="c-add">Add to cart</button>
          <button type="button" class="list-add" name="l-add">Add to list</button>
        </div>
        <div class="side-recom">
          {% include "/test-templates/recom-panel.html" %}
        </div>
    </div>
  {% endblock %}
