<!-- recommendation side bar elements -->
<div class="container">
  <ul>
    {% if list %}
      {% for item in list %}
          <li>
            <h3>{{ item }}</h3>
            <button type="button" name="button">View Item</button>
          </li>
      {% endfor %}
    {% else %}
      <li>
        <h3>Item name - %99.99</h3>
        <button type="button" name="button">View Item</button>
      </li>
      <li>
        <h3>Item name - %99.99</h3>
        <button type="button" name="button">View Item</button>
      </li>
      <li>
        <h3>Item name - %99.99</h3>
        <button type="button" name="button">View Item</button>
      </li>
    {% endif %}
  </ul>
</div>
