{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
  <div class="row">
    {% for item in recom %}
    <div class="col-md-4">
      <div class="thumbnail">


        <img src="{{ url_for('static',filename=('images/None.jpg')) }}" class="img-thumbnail">
        <div class="caption">
        <p>{{ item.item_name }}</p>
        <p>Description: {{ item.desc }}</p>
        <p>Price: {{ item.desc }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}
